.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    color: #2f80ed;
    text-decoration: none;
    padding-left: 48px;
    margin: 0;
    align-self: flex-start;
    opacity: 1;
}

.khan__buy-link:hover {
    opacity: 0.5;
    transition: 0.3s;
}